name: Build and Push Docker Image

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: self-hosted

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 21

    - name: Build JAR
      run: mvn -B package

    - name: Log in to GHCR
      run: echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

    - name: Build Docker image
      run: |
        IMAGE=ghcr.io/${{ github.repository_owner }}/worker:latest
        docker build -t $IMAGE .

    - name: Push Docker image
      run: |
        IMAGE=ghcr.io/${{ github.repository_owner }}/worker:latest
        docker push $IMAGE
